<%- include('../templates/header.ejs') %>


<form action="/admin/creadapor/" method="post">
    <h1>BUSCA una noticia</h1>
    <label for="creador">Título:</label>
    <input type="text" placeholder="creador" name="creador" id="creadorId">
    <input type="submit">
</form>