<%- include('templates/header.ejs') %>


<form action="/buscada/">
    <h1>BUSCA una noticia</h1>
    <label for="titulo">Título:</label>
    <input type="text" placeholder="título" name="titulo" id="tituloId">
    <input type="submit">
</form>