<ul class="enlacesNav">
    <li><a href="/accedercuenta/" class="btnTabla">Login</a></li>
    <li> <a href="/crearcuenta/" class="btnTabla">Registrarse</a></li>
    <li> <a href="/" class="btnTabla">Todas las noticias</a></li>
   
</ul>