<ul class="enlacesNav">
    <li> <a href="/adminillo/todasnoticiasadmin/<%= idUsuario %>/<%= nombreUsuario  %>" class="btnTabla">Lista noticias</a></li>
    <li> <a href="/adminillo/todosloseditoresadmin/<%= idUsuario %>/<%= nombreUsuario  %>" class="btnTabla">Lista editores</a></li>
    <li> <a href="/" class="btnTabla">Cerrar sesión</a></li>
</ul>