<%- include('../templates/header.ejs') %>
    <%- include('../templates/navLogeado.ejs') %>
        <main>
            <h1>Añade una noticia</h1>
           
                <form method="post"  action="/editor/creada/">

                    <div class="formulario">
                    <label for="creador">ID creador: (ESTE CAMPO ES EXCLUSIVO NO SE PUEDE MODIFICAR)</label>
                    <input type="text" class="invariable" name="creador" id="creadorId" value="<%= idUsuario  %>" readonly>
                    <label for="nombreCreador">Nombre creador: (ESTE CAMPO ES EXCLUSIVO NO SE PUEDE MODIFICAR)</label>
                    <input type="text" class="invariable" name="nombrecreador" id="creadorId" value="<%= nombreUsuario  %>" readonly>
                    <label for="titulo">Título:</label>
                    <input type="text" placeholder="título" name="titulo" id="tituloId">
                    <label for="noticia">Cuerpo noticia:</label>
                    <textarea name="noticia" id="noticiaId" rows="4" cols="50">Descripción </textarea>
                    <label for="imagen">URL Imagen:</label>
                    <input type="text" name="imagen">
                    
                </div>

                    <button type="submit" class="btn">Añadir noticia</button>

                </form>
            
        </main>